* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
}

li {
  list-style-type: none;
}

.seo-h1 {
  display: none;
}

#seo-img {
  display: none;
}

/*设定背景颜色*/
#bg {
  width: 200%;
  position: absolute;
  height: 7.23rem;
  font-size: 0;
  z-index: -1;
  padding: 100vh 0;
  transform: translateX(0);
  animation: backgroundMove 12s linear infinite;
  /*关于颜色，1，3，5行一致，2，4行一致*/
  background: linear-gradient(to right,
    #fafafa 0,
    #ffffff 16%, #c7c7c7 32%,
    #fafafa 50%,
    #ffffff 66%, #c7c7c7 82%,
    #fafafa 100%)30.72rem 0;
}

#bg2 {
  display: none;
  position: fixed;
  width: 15.36rem;
  height: 100%;
  z-index: -2;
  left: 0;
  top: 0;
  background: rgba(250, 250, 250, .9);
}

#bg2.show {
  display: block;
  z-index: 10;
}

/*整体元素的位置，以防在大分辨率的屏幕不居中*/
#wrapper {
  font-size: 0;
  background: transparent;
  position: absolute;
  width: 200%;
  margin-top: calc(38.2vh - 2.76rem);
  overflow: hidden;
}

/*内容区的样式,这里width计算出来为9.49rem，加上右边隐藏条为9.69rem*/
#content {
  padding-right: .2rem;
  position: relative;
  display: inline-block;
  font-size: .16rem;
  width: 9.49rem;
  height: 100%;
  vertical-align: top;
  transition: .5s;
}

#content.show {
  width: 15.16rem;
}

#content.show #hideButton div {
  transform: rotateY(180deg);
  transition: 1s;
}

/*CodeMirror的基础样式*/
.CodeMirror {
  border-radius: .1rem;
  padding: .05rem;
  margin: .1rem;
  margin-right: 0;
  height: 6.93rem;
  width: auto;
  box-shadow: 0 0 .05rem .01rem #333;
}

/*设置按钮的样式*/
#submit,
.clear {
  user-select: none;
  border-radius: .05rem;
  position: absolute;
  right: .3rem;
  bottom: .3rem;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
  color: #888;
  width: 1rem;
  box-shadow: 0 0 0 1px #444 inset;
  background: rgba(230, 230, 230, 0);
  transition: .5s;
  z-index: 3;
}

/*设置清除按钮的样式*/
.clear {
  left: -1.3rem;
  top: .2rem;
  line-height: .2rem;
  height: .2rem;
}

.clear:active {
  transform: scale(1.2);
}

#submit:hover,
.clear:hover {
  color: #eee;
}

#submit #saveTip {
  position: absolute;
  left: -.05rem;
  line-height: 1;
  bottom: 120%;
  width: 120%;
  text-align: center;
  font-size: inherit;
  font-weight: normal;
  color: inherit;
}

#submit:active {
  transform: scale(1.2);
}

/*设置结果包裹区的样式*/
#resultWrapper {
  position: relative;
  display: inline-block;
  font-size: .16rem;
  width: 5.67rem;
  height: 100%;
  vertical-align: top;
}

/*设置侧边长按钮的样式*/
#hideButton {
  user-select: none;
  text-align: center;
  right: 0;
  top: 0;
  position: absolute;
  width: .2rem;
  background-image: linear-gradient(transparent 8%, rgba(100, 100, 100, .5) 20%, rgba(200, 200, 200, .5) 90%, transparent 96%);
  line-height: 7.23rem;
  opacity: .5;
  transition: .2s;
  font-size: .2rem;
  color: #333;
  text-shadow: 0 0 .1rem #333, 0 0 .2rem #333;
}

#hideButton:hover {
  opacity: 1;
}

/*设置结果区的样式*/
#result {
  padding: .05rem;
  color: #333;
  font-size: .12rem;
  top: .883rem;
  position: absolute;
  border-radius: .1rem;
  width: 5.47rem;
  height: 6.427rem;
  margin-bottom: .1rem;
  background: rgba(230, 230, 230, .2);
  overflow: auto;
  line-height: 1.2;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#continueInput {
  border-top-left-radius: .1rem;
  border-top-right-radius: .1rem;
  position: absolute;
  left: 0;
  top: .403rem;
  height: .48rem;
  overflow: hidden;
}

#continueInput #inputArea {
  color:#888;
  border-top-left-radius: .1rem;
  border-top-right-radius: .1rem;
  padding: .01rem;
  float: left;
  width: 5.55rem;
  height: .46rem;
  line-height: .16rem;
  font-size: .12rem;
  background: rgba(250, 250, 250, 1);
}

#resultSecondWrapper {
  border-radius: .1rem;
  width: 5.57rem;
  height: 6.727rem;
  box-shadow: 0 0 .05rem .01rem #333;
}

/*line-height是给下面元素继承用的，height用来定义自身高度*/
#selectors {
  position: relative;
  line-height: .403rem;
  height: .403rem;
  z-index: 2;
}

/*用来定义logo位置及相关样式*/
#selectors .aboutQknow {
  float: left;
  margin-right: .4rem;
  z-index: 3;
}

#selectors .aboutQknow .awesomeFont {
  z-index: 4;
  background: transparent;
  color: #666;
  transition: 1s;
}

#selectors .aboutQknow .awesomeFont.show {
  color: transparent;
  text-shadow: 0 0 .01rem #eee, 0 0 .02rem #eee;
}

/*通过伪元素设置悬浮窗样式*/
span.awesomeFont:after {
  left: 0;
  top: 90%;
  white-space: pre-wrap;
  overflow: hidden;
  text-shadow: none;
  content: '    Qknow提供一个运行多语言代码的平台，所有语言的当前代码会被保存在本地。\A环境：C(gcc 6.4.0); C++14(g++ 6.4.0); Java 8; Go 1.10.5; Python 3.6.7; Node.js 11.4.0; Rust 1.26.2; Haskell 8.4.3; Kotlin-Jvm 1.3.21 JDK8。';
  color: #333;
  position: absolute;
  width: 3rem;
  height: 0;
  border-radius: .1rem;
  background: #eee;
  z-index: -999;
  transition: .2s;
  overflow: auto;
  white-space:pre-wrap;
}

span.awesomeFont:before {
  left: 50%;
  top: 150%;
  content: '';
  position: absolute;
  width: 0;
  border-width: 0;
  border-style: solid;
  border-color: transparent transparent #eee transparent;
  z-index: -999;
  transition: .2s;
}

span.awesomeFont.show:after {
  padding: .2rem .1rem .1rem .1rem;
  display: block;
  height: 1.854rem;
  z-index: 3;
}

span.awesomeFont.show:before {
  left: .2rem;
  top: 0;
  display: block;
  border-width: .3rem;
  z-index: 3;
}

/*通过浮动设置两个下拉菜单的位置及相关大小,这里的width影响整体的宽度(需修改两处width)*/
.wrapperForM>.div_wrapper {
  border-radius: .05rem;
  cursor: default;
  float: left;
  width: 1rem;
  margin-top: .08rem;
  box-shadow: 0 .01rem .01rem #333;
}

/*下面这两条样式非常关键，效果是限定了高度，去掉了滚动条，且超过max-height后会自动滚动*/
/*可修改max-height，但只用修改第一条的max-height即可*/
ul.selectors_wrapper {
  z-index: 3;
  position: relative;
  width: inherit;
  max-height: 2rem;
  overflow: hidden;
}

/*见上面注释*/
li.languages,
li.themes {
  position: relative;
  max-height: inherit;
  padding: 0 .3rem .3rem 0;
  margin: 0 -.3rem -.3rem 0;
  overflow: auto;
}

/*transition可以控制卷起时间，但最好别动*/
ul.selectors_wrapper .div_wrapper {
  width: inherit;
  height: 0;
  transition: .2s;
  overflow: hidden;
}

ul.selectors_wrapper ul,
ul.selectors_wrapper li {
  width: inherit;
}

/*设置选项样式*/
ul.selectors_wrapper p {
  /*  line-height: .16rem;
  width: 100%;
  text-align: center;*/
  user-select: none;
  width: .98rem;
  background: rgba(66, 66, 66, .2);
  background-image: linear-gradient(rgba(210, 210, 210, .2), rgba(240, 240, 240, .2));
  border: .01rem solid rgba(0, 0, 0, .2);
  box-shadow: 0 .01rem white inset;
  text-align: center;
  text-shadow: .05rem .05rem .05rem #bbb;
  line-height: 1.2;
  border-radius: .05rem;
  cursor: pointer;
  transition: .5s;
}

ul.selectors_wrapper p:active {
  opacity: .6;
}

ul.selectors_wrapper p:hover {
  opacity: .4;
}

/*设置选择选项后的样式*/
ul.selectors_wrapper p.selected {
  box-shadow: .01rem .02rem .02rem rgba(0, 0, 0, .5) inset;
  border-color: rgba(0, 0, 0, .3);
  background: rgba(250, 250, 250, .5);
}

/*设置标题被选中后的样式*/
ul.selectors_wrapper p.titleSelected {
  background: rgba(88, 66, 66, .3);
  box-shadow: 0.01rem 0.02rem 0.02rem rgba(0, 0, 0, .5) inset;
}

/*设置子标题样式*/
ul.selectors_wrapper .topic>p {
  position: relative;
  line-height: 1.5;
  font-weight: bold;
}

/*设置一级标题样式，这里打算用作显示当前语言和当前主题的区域*/
ul.selectors_wrapper>.topic>p {
  position: relative;
  line-height: .25rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

/*这个是弹出提示动画的设定*/
@keyframes showTip {
  50% {
    scale(1.2)
  }

  to {
    scale(1)
  }
}

/*这个是背景动画时间相关设定*/
@keyframes backgroundMove {
  to {
    transform: translateX(-50%);
  }
}

/*以下是关于加载动画，颜色可以改,动画参考css secret*/
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes radius {
  50% {
    border-radius: 50%;
  }
}

@keyframes color {
  33% {
    color: rgba(66, 88, 66, .5);
  }

  66% {
    color: rgba(66, 66, 88.2);
  }
}

@keyframes width {
  50% {
    border-width: .3em;
  }
}

#loading:before {
  content: '';
  display: block;
  width: 4em;
  height: 4em;
  margin: 0 auto 1em;
  border: 1.5em solid;
  color: rgba(88, 66, 66, .1);
  box-sizing: border-box;
  animation: 1s spin, .7s radius, 1.1s color, 1.3s width;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#loading.show {
  top: 40%;
  opacity: 1;
  transition: top 0s, opacity .2s;
}

#loading {
  color: #aaa;
  font-weight: bold;
  font-size: .16rem;
  top: 120%;
  opacity: 0;
  left: 50%;
  position: fixed;
  transform: translateX(-2em);
  transition: top 1s, opacity .2s;
}

/*copytransfer的样式*/
#copyTransfer {
  position: absolute;
  left: -100%;
  top: 0%;
}

#copy {
  font-weight: bold;
  position: absolute;
  bottom: .3rem;
  right: .3rem;
  user-select: none;
  width: .98rem;
  background: rgba(200, 200, 200, .5);
  border: .01rem solid rgba(0, 0, 0, .5);
  text-align: center;
  line-height: 1.2;
  border-radius: .05rem;
  cursor: pointer;
  transition: .5s;
  opacity: .8;
}

#copy.showResult,
#copy:hover {
  opacity: 1;
  background: rgba(200, 200, 200, .8);
}

#copy:active {
  transform: scale(1.2);
}

#selectors .adjustZone {
  width: .8rem;
  height: .403rem;
  float: left;
}

#selectors .fPlus,
#selectors .fMinus {
  font-size: inherit;
  text-shadow: .01rem .01rem #333;
  display: inline-block;
  vertical-align: baseline;
  font-weight: bold;
  margin: 0 .1rem;
  width: .15rem;
  text-align: center;
  height: .15rem;
  line-height: .8;
  border-radius: 50%;
  background: rgba(160, 160, 160, .5);
  user-select: none;
  cursor: pointer;
  transition: .5s;
  background-image: linear-gradient(rgba(210, 210, 210, .2), rgba(240, 240, 240, .2));
  box-shadow: 0 .01rem .01rem #333;
}

#selectors .fPlus:active,
#selectors .fMinus:active {
  transform: scale(1.2);
}

#selectors .fPlus:hover,
#selectors .fMinus:hover {
  background: rgba(200, 200, 200, .2);
}

#selectors .adjustFSize {
  float: left;
  color: #888;
  font-size: .12rem;
}

#hideButtonForM {
  display: none;
}

#transparentDiv {
  display: none;
}

.lineNumbers {
  float: left;
  color: #888;
  font-size: .12rem;
}

.LNZone {
  width: .4rem;
  height: .403rem;
  float: left;
  line-height: 2.7;
  transition: .5s;
}

.LNZone:before {
  border: .04rem solid white;
  content: '';
  text-shadow: .01rem .01rem #333;
  display: inline-block;
  vertical-align: baseline;
  font-weight: bold;
  margin: 0 .1rem;
  width: .07rem;
  text-align: center;
  height: .07rem;
  line-height: .8;
  border-radius: 50%;
  background: #fff;
  user-select: none;
  cursor: pointer;
  transition: .5s;
  background-image: linear-gradient(rgba(210, 210, 210, .2), rgba(240, 240, 240, .2));
  box-shadow: 0 .01rem .01rem #333;
}

.LNZone:active:before {
  transform: scale(1.2);
}

.LNZone:hover:before {
  border-color: #aaa;
}

.LNZone.showLN:before {
  background: rgba(66, 66, 66, .8);
}